<div>
    <div class="main__body" id="myElement">
        <div class="header_alignment">
            <div class="heading">User Details</div>
            <div class="search__container">
                <div class="search__bar">
                    <input placeholder="Search User ID" type="text" (keyup)="searchCat($event)" id="search"
                        autocomplete="off" class="search" />
                        <div class="search_icon">
                            <img src="../../assets/search_img.png" alt="">
                        </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="table__header">
                <tr style="vertical-align: start">
                    <th scope="col">ID</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col">FIRST NAME</th>
                    <th scope="col">LAST NAME</th>
                    <th scope="col">EMAIL ADDRESS</th>
                </tr>
            </thead>
            <tbody>
                <tr style="vertical-align: start" *ngFor="let data of usersList">
                    <td>
                        <div class="orders_data">{{data?.id}}</div>
                    </td>
                    <td>
                        <div class="sutdent_img">
                            <img [src]="data?.avatar" alt="Student Image">
                        </div>
                    </td>
                    <td>
                        <div class="orders_data">{{data?.first_name}}</div>
                    </td>
                    <td>
                        <div class="orders_data">{{data?.last_name}}</div>
                    </td>
                    <td>
                        <div class="orders_data">{{data?.email}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="usersList.length === 0" class="empty-view">
            <div class="content-box">
                <img src="assets/empty-products.svg" alt="Empty View" />
                <div class="fs-16 fw-600 mt-3">No User Available</div>
                <p class="fs-12 mt-2">Currently Your User List is Empty!</p>
            </div>
        </div>
        <div class="pagination_alignment">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <div class="page-link" (click)="counter(false)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </div>
                    </li>
                    <li class="page-item"><a class="page-link">{{count}}</a></li>
                    <li class="page-item">
                        <div class="page-link" (click)="counter(true)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>